{% extends 'base.html' %}

{% block content %}

<div class="container text-white bg bg-dark">
{% include 'nave.html' %}


   
<div class="text-white bg bg-dark mt-4">


    <h3>Contato</h3>

<!--   <form method="get" class="row">
        <div class="col-9">
            <input type="text" name="pesquisa" class="form-control bg-secondary text-white">
        </div>
        <div class="col-3">
            <button type="submit" class="btn btn-primary">Pesquisar</button>
        </div>
    </form>
-->
        <div class="col-md-6 mt-4">
            Nome:
            <input type="text" value="{{obj.nome}}" class="form-control bg-secondary text-white" readonly>
        </div> 

        <div class="col-md-6 mt-4">
            E-Mail:
            <input type="text" value="{{obj.email}}" class="form-control bg-secondary text-white" readonly>
        </div> 

        <div class="col-md-12 mt-4">
            Assunto:
            <input type="text" value="{{obj.assunto}}" class="form-control bg-secondary text-white" readonly>
        </div> 

        <div class="col-md-12 mt-4">
            Mensagem:
            <textarea type="text" rows="10" class="form-control bg-secondary text-white" readonly>{{obj.mensagem}}</textarea>

        </div> 

 <!--<h2>{{obj.nome}}</h2>
     <h2>{{obj.email}}</h2>
     <h2>{{obj.assunto}}</h2>
     <h2>{{obj.respondido}}</h2>
-->

</div>

{% endblock %}
